.jiqnz {
    text-align: left;
    padding: 20px;
    font-weight: bold;
    font-size: large;
}

.jiqnz-container {
    max-width: 750px;
    margin: 0 auto;
    border: solid 1px lightgray;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.text-red {
    color: rgb(180, 2, 2);
}

.pointer {
    cursor: pointer;
}

.comment-content {
    font-size: small;
}

.comment-author {
    font-size: smaller;
    color: gray;
}